n8n-workflow-calendario.json
{
  "name": "Calendario 5F — Email a Evento",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute",
              "minute": 2
            }
          ]
        },
        "filters": {
          "readStatus": "unread",
          "receivedAfter": "={{ $now.minus(2, 'minutes').toISO() }}"
        },
        "options": {
          "searchString": "to:abudjavier+calendario5f@gmail.com"
        }
      },
      "name": "Gmail - Detectar Email",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "id": "gmail-trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://calendario-5f.vercel.app/api/process-email",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ emailSubject: $json.subject || 'Sin asunto', emailContent: $json.snippet || $json.textPlain || $json.text || '' }) }}"
      },
      "name": "Claude - Parsear Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ],
      "id": "claude-parse"
    },
    {
      "parameters": {
        "jsCode": "// El endpoint /api/process-email retorna { success: true, eventData: {...} }\n// eventData ya es un objeto JSON parseado (no texto)\nconst response = $input.first().json;\n\nif (!response.success || !response.eventData) {\n  return [{\n    json: {\n      error: true,\n      message: 'Error en el endpoint: ' + JSON.stringify(response),\n      rawContent: JSON.stringify(response)\n    }\n  }];\n}\n\nconst evento = response.eventData;\n\nif (!evento.titulo) {\n  return [{\n    json: {\n      error: true,\n      message: 'Claude no identificó evento escolar relevante',\n      rawContent: JSON.stringify(evento)\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    titulo: evento.titulo,\n    tipo: evento.tipo || 'aviso',\n    materia: evento.materia || 'General',\n    fecha: evento.fecha || new Date().toISOString().split('T')[0],\n    descripcion: evento.descripcion || '',\n    estado: 'pendiente',\n    origen: 'email',\n    emailOrigen: $('Gmail - Detectar Email').first().json.from?.value?.[0]?.address || 'desconocido',\n    createdAt: new Date().toISOString()\n  }\n}];"
      },
      "name": "Procesar Respuesta Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        300
      ],
      "id": "process-response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "¿Parseo OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        300
      ],
      "id": "check-parse"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://firestore.googleapis.com/v1/projects/calendario-5f/databases/(default)/documents/eventos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "firebaseServiceAccount",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: { titulo: { stringValue: $json.titulo }, tipo: { stringValue: $json.tipo }, materia: { stringValue: $json.materia }, fecha: { timestampValue: $json.fecha + 'T12:00:00Z' }, descripcion: { stringValue: $json.descripcion }, estado: { stringValue: 'pendiente' }, origen: { stringValue: 'email' }, emailOrigen: { stringValue: $json.emailOrigen }, createdAt: { timestampValue: new Date().toISOString() } } }) }}"
      },
      "name": "Guardar en Firestore",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        240
      ],
      "id": "save-firestore",
      "credentials": {
        "firebaseServiceAccount": {
          "id": "firebase-service-account",
          "name": "Firebase Service Account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Calendario 5F — Pipeline Email → Evento\n\n**Flujo:**\n1. Gmail detecta email nuevo enviado a `abudjavier+calendario5f@gmail.com`\n2. Claude API parsea el email y extrae: título, tipo, materia, fecha, descripción\n3. Se guarda en Firestore con estado **pendiente**\n4. Miss Magdalena aprueba desde el Panel Admin\n\n**Configuración requerida:**\n- Credencial Gmail (OAuth2)\n- Credencial Anthropic API Key (Header Auth: `x-api-key`)\n- Firestore rules deben permitir escritura pública temporal o usar Service Account",
        "height": 340,
        "width": 440
      },
      "name": "Instrucciones",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        480
      ],
      "id": "sticky-note"
    }
  ],
  "connections": {
    "Gmail - Detectar Email": {
      "main": [
        [
          {
            "node": "Claude - Parsear Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Parsear Email": {
      "main": [
        [
          {
            "node": "Procesar Respuesta Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Respuesta Claude": {
      "main": [
        [
          {
            "node": "¿Parseo OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Parseo OK?": {
      "main": [
        [
          {
            "node": "Guardar en Firestore",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "calendario-5f"
    }
  ]
}